body{
    background-image:url('img/sw_01.jpg');
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
}

input{
    font-size: 150%;
    border: solid black 3px;
    border-radius: 3px;
}

button{
    font-size: 150%;
    border: solid gray 3px;
    border-radius: 5px;
    color: white;
    background-color: black; 
}

.mydiv{
    background-color: rgba(240,240,240,0.5);
	margin: 10px;
}

.title{
    font-size: 100px;
}

.widget1, .widget2, .widget3, .widget4, .widget5, .widget6{
    display: inline-block;
    width: 30%;
}

.widget1, .widget4{
    float: left;
}

.widget3, .widget6{
    float: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.calcBtn{
    height: 40px;
    width: 40px;
}

.digit{
    background-color: yellow;
    color: black;
}

.operator{
    background-color: lightgreen;
    color: black;
    margin-left: 10px;
}

.equal{
    background-color: lightcoral;
    color: black;
    margin-bottom: 20px;
}

.display{
    height: 40px;
    width: 80%;
    font-size: 150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: darkgreen solid 5px;
    color: lightgreen;
    background-color: green;

}

.outcome{
    height: 40px;
    width: 80%;
    font-size: 150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: darkgreen solid 5px;
    color: lightgreen;
    background-color: green;
}




#celsius, #fahrenheit_output, #calc_output{
    font-size: 150%;
    border: solid black 3px;
    border-radius: 3px;
    width: 60%;
    display: inline-block;
    margin-bottom: 12px;
}