body{
    background-image:url('img/sw_01.jpg');
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
}

.mydiv{
    background-color: rgba(240,240,240,0.5);
	margin: 10px;
}

.title{
    font-size: 100px;
}

.widget1, .widget2, .widget3{
    display: inline-block;
    width: 30%;
}

.widget1{
    float: left;
}

.widget3{
    float: right;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
}